<ion-view padding="true" view-title='Details'>
	<ion-content class="bg_floor">
		<div class="list card">

		  <div class="item item-avatar item-divider">
		    <img src="img/big_thumb30.jpg">
		    <h2>I-CELL</h2>
		    <p>04 Mars 2016</p>
		    <p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star-half"></span></p>
		  </div>

		  <div class="item item-body">
		  	<div class="col owl-carousel owl-theme" id="owl-galery">
		    	<div class="item bg_floor"><img class="full-image" src="img/big_thumb30.jpg"></div>
		    	<div class="item bg_floor"><img class="full-image" src="img/big_thumb39.jpg"></div>
		    </div>
		    <p>
		      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		    </p>
		  </div>
		  <div class="item item-body item-divider">
		  	<div class="col col-50 bg_green tit">Sur la carte</div>
		    <iframe id="myframe"
			  width="100%"
			  height="350px"
			  frameborder="0" style="border:0"
			  ng-src="{{url}}">
			</iframe>
		  </div>

		</div>
		<div class="row">
			<button class="button button-block icon-left ion-android-call button-assertive">Contact</button>
		</div>
	</ion-content>
</ion-view>