<ion-view padding="true" hide-nav-bar="true">
	<ion-content class="bg_floor">
		<div class="row">
            <div class="col">
              <div class="header-mid-wrapper text-center clearfix">
                <div class="mid-logo-wrapper">
                    <a class="logo" ui-sref="home">
                    MARKT
                  </a><!-- .logo -->
                  <p class="logo-description">Veuillez vous connectez afin de profiter de nos services</p>
                </div>
              </div>
            </div>
          </div>
		<div class="row">
		  <div class="col">
		    <div class="ad728-wrapper">
		        <!-- <img src="img/firstpage.png" alt=""/> -->
		    </div>
		  </div>
		</div>
		<div class="row">
			<button class="button button-block icon-left ion-social-facebook button-positive">Via Facebook</button>
		</div>
		<div class="row">
			<button class="button button-block icon-left ion-social-googleplus button-assertive">Via Google</button>
		</div>
		<div class="row">
			<button ui-sref="main.pro" class="button button-block icon-left ion-person-stalker button-stable">Comme un visiteur</button>
		</div>
	</ion-content>
</ion-view>