<ion-view padding="true" hide-nav-bar="true">
	<ion-content>
        <div class="list padding">
		    <a class="item item-thumbnail-left" ui-sref="details">
		      <img src="img/cover.jpg">
		      <h2>FANOUTCHE PIERRE</h2>
		      <p>Développeur web & mobile</p>
		      <p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		      <p>A {{posi}}m de vous</p>
		    </a>
		    <a class="item item-thumbnail-left" ui-sref="details">
		      <img src="img/author1.jpg">
		      <h2>MR JEAN</h2>
		      <p>Ingénieur immobilier</p>
		      <p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		      <p>A {{posi}}m de vous</p>
		    </a>
		    <a class="item item-thumbnail-left" ui-sref="details">
		      <img src="img/author3.jpg">
		      <h2>MME LA PERLE</h2>
		      <p>Commerçante d'habits</p>
		      <p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		      <p>A {{posi}}m de vous</p>
		    </a>
		    <a class="item item-thumbnail-left" ui-sref="details">
		      <img src="img/author4.jpg">
		      <h2>MR YAO</h2>
		      <p>Vendeur de moutons</p>
		      <p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		      <p>A {{posi}}m de vous</p>
		    </a>

		</div>
	</ion-content>
</ion-view>