<ion-view padding="true" hide-nav-bar="true">
	<ion-content>
        <div class="list padding">
        	<a class="item item-thumbnail-left" ui-sref="details">
		      <img src="img/big_thumb30.jpg">
		      <h2>I-CELL</h2>
		      <p>Vente de Iphone</p>
		      <p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		      <p>A {{posi}}m de vous</p>
		    </a>
		    <a class="item item-thumbnail-left" ui-sref="details">
		      <img src="img/slider_thumb3.jpg">
		      <h2>SARL BRUNO</h2>
		      <p>Propose des solutions aux entreprises</p>
		      <p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		      <p>A {{posi}}m de vous</p>
		    </a>
		    <a class="item item-thumbnail-left" ui-sref="details">
		      <img src="img/big_thumb50.jpg">
		      <h2>C-GARDE</h2>
		      <p>Garde du corps à disposition</p>
		      <p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		      <p>A {{posi}}m de vous</p>
		    </a>
		    <a class="item item-thumbnail-left" ui-sref="details">
		      <img src="img/featured_thumb6.jpg">
		      <h2>KODAK ENTREPRISE</h2>
		      <p>Vente et location de sono</p>
		      <p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		      <p>A {{posi}}m de vous</p>
		    </a>

		</div>
	</ion-content>
</ion-view>